.vite-hooks/_/
.fate/
**/.fate/
.void/
**/.void/
.wrangler/
**/.wrangler/
.pnpm-debug.log
.DS_Store
.vitepress/cache
**/node_modules/
/node_modules/
coverage/
dist/
docs/api
example/client/dist/
example/server-graphql/src/graphql/schemaImportMap.tsx
example/server-graphql/src/prisma/pothos-types.ts
example/server-graphql/src/prisma/prisma-client/
example/server-prisma/src/prisma/prisma-client/
packages/fate/docs/
packages/react-fate/docs/
packages/**/lib/
!packages/create-fate/templates/**/src/lib/
!packages/create-fate/templates/**/src/lib/**
packages/**/LICENSE
packages/**/README.md
!packages/create-fate/LICENSE
!packages/create-fate/README.md
!packages/create-fate/templates/**/README.md
!packages/cf-fate/LICENSE
!packages/cf-fate/README.md
!packages/void-fate/README.md
tsconfig.tsbuildinfo
vite.config.ts.timestamp-*
.vitest/
